@import "./variables";

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  max-width: 1000px;
  background-color: $primaryColor;
  box-shadow: $shadow;
  align-items: center;
  height: 100%;
  margin: $center;
}
.results {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-gap: 20px;
  justify-content: center;
  padding-bottom: 20px;
}
